body {
    margin: 0px;
}

header {
    margin-bottom: -100px;
    background-image: url(image/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;


}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;

    .nave {
        display: flex;
        justify-content: space-around;

        h5 {
            margin-right: 40px;
        }

        a {
            text-decoration: none;
            color: black;

        }

    }

    .buttons {
        .buttonone {
            background-color: #ce181e;
            padding: 10px 20px;
            border: solid #ce181e 2px;
            border-radius: 20px;


        }

        .two {
            padding: 10px 20px;
            border: solid #ce181e 2px;
            border-radius: 20px;
        }

        .aone {
            text-decoration: none;
            font-weight: bold;
            color: aliceblue;

        }

        .atwo {
            text-decoration: none;
            font-weight: bold;
            color: #ce181e;
        }
    }
}

.buyorrent {
    margin-left: 20%;
    margin-top: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    div {
        h1 {
            font-size: 250%;
        }

        p {
            font-weight: lighter;
            font-size: small;
        }
    }

    div {
        .buy {
            margin: 0;
            background-color: #ce181e;
            border: solid 1px #ce181e;
            border-radius: 10px 0px 0px 0px;
            padding: 5px 10px;
        }

        .rent {
            margin: 0;
            background-color: rgb(192, 185, 185);
            border: solid 1px rgb(192, 185, 185);
            border-radius: 0px 10px 0px 0px;
            padding: 5px 10px;
        }

        .buyone {
            text-decoration: none;
            color: white;
            font-weight: bolder;

        }

        .rentone {
            text-decoration: none;
            color: #ce181e;
            font-weight: bolder;

        }
    }
}

.input {
    margin-top: 2px;
    display: flex;
    align-items: center;
    border: 2px solid #e74c3c;
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
    background-color: #fff;

    .localisation {
        color: #e74c3c;
        font-size: 20px;
        margin-right: 8px;
        height: 20px;

    }

    input {
        border: none;
        outline: none;
        font-size: 16px;
        color: #555;
        padding: 8px;
        width: 180px;
    }

    button {
        background-color: #e74c3c;
        color: white;
        border: none;
        padding: 8px 16px;
        border-radius: 20px;
        cursor: pointer;
        font-weight: bold;
    }
}



.main {

    background-color: white;
    border-radius: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    .sectionone {
        .pourcentage {
            display: flex;
            justify-content: space-around;

            .premiumproduct {
                display: flex;
                justify-content: space-around;
                align-items: center;

                h1 {
                    margin-right: 20px;
                }

                p {
                    margin-right: 20px;
                    font-size: small;
                }

            }

            .happycustomer {
                display: flex;
                justify-content: space-around;
                align-items: center;

                h1 {
                    margin-right: 20px;

                }

                p {
                    margin-right: 20px;
                    font-size: small;
                }
            }

            .awardswinning {
                display: flex;
                justify-content: space-around;
                align-items: center;

                h1 {
                    margin-right: 20px;
                }

                p {
                    margin-right: 20px;
                    font-size: small;
                }

            }
        }
    }

    .black {
        color: black;
    }

    .red {
        color: #e74c3c;
    }
}


.sectiontwo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    .propertytype {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50px;

        h1 {

        }

        .buttona {
            .buttonaa {
                height: 30px;
                width: 30px;
                border: #ffffff solid 1px;
                border-radius: 5px;

                p {
                    margin: 0;
                    color: #e74c3c;
                    font-weight: bold;
                }

            }

            .buttonab {
                height: 30px;
                width: 30px;
                border-radius: 5px;
                border: #e74c3c solid 1px;
                background-color: #e74c3c;

                p {
                    margin: 0;
                    font-weight: bold;
                    color: #ffffff;
                }

            }
        }
    }

    .diva {
        margin-top: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .aa {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(213, 211, 211, 0.6);
            padding: 40px;
            border-radius: 30px;
            justify-content: center;
            height: 150px;
            width: 150px;

            .img {
                margin: 0;
                margin-bottom: 10px;
            }

            h4 {
                margin: 0;
                margin-bottom: 2px;
            }

            p {
                margin: 2px;
                color: rgb(113, 113, 113);
                font-size: x-small;

            }


        }

        .ab {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgb(213, 211, 211, 0.6);
            padding: 40px;
            border-radius: 30px;
            margin: 0;
            height: 150px;
            width: 150px;

            .img {
                margin: 0;
                margin-bottom: 10px;
            }

            h4 {
                margin: 0;
                margin-bottom: 2px;
            }

            p {
                margin: 2px;
                color: rgb(113, 113, 113);
                font-size: x-small;
            }
        }

        .ac {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgb(213, 211, 211, 0.6);
            padding: 40px;
            border-radius: 30px;
            margin: 0;
            height: 150px;
            width: 150px;

            .img {margin: 0;
                margin-bottom: 10px;
            }

            h4 {margin: 0;
                margin-bottom: 2px;
            }

            p {
                margin: 2px;
                color: rgb(113, 113, 113);
                font-size: x-small;
            }
        }

        .ad {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgb(213, 211, 211, 0.6);
            padding: 40px;
            border-radius: 30px;
            margin: 0;
            height: 150px;
            width: 150px;

            .img {
                margin: 0;
                margin-bottom: 10px;
            }

            h4 {
                margin: 0;
                margin-bottom: 2px;
            }

            p {
                margin: 2px;
                color: rgb(113, 113, 113);
                font-size: x-small;
            }
        }

        .ae {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgb(213, 211, 211, 0.6);
            padding: 40px;
            border-radius: 30px;
            margin: 0;
            height: 150px;
            width: 150px;

            .img {
                margin: 0;
                margin-bottom: 10px;
            }

            h4 {
                margin: 0;
                margin-bottom: 2px;
            }

            p {
                margin: 0;
                color: rgb(113, 113, 113);
                font-size: x-small;
            }
        }
    }
}
.sectiontree{
    .popularresidences{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50px;
        h1{

        }
        p{
            a{
                text-decoration: none;
                color: rgb(113, 113, 113);

            }
        }
    }
    .examples{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50px;
        .houseone{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: first baseline;
            border: solid 2px gray;
            border-radius: 8px;
            margin: 0;
            img{
                border-radius: 8px;
                border: rgb(158, 158, 158) 2px solid;
                height: 180px;
                width: 200px;
                margin: 4px;
            }
            h1{margin: 0;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: medium;
                margin-top: 10px;
                


            }
            p{margin: 0;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: small;
                margin-top: 10px;

            }
            div{margin: 0;
                display: flex;
                justify-content: first baseline;
                margin-top: 10px;
                .h2one{
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    color: #e74c3c;
                    font-size: medium;
                    margin: 0;
                }
                .h2two{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: medium;
                    margin: 0;

                }

            }

        }
        .housetwo{

        }
        .housetree{

        }
        .housefour{

        }
    }

}